{% extends 'listing/base.html' %}
{% load static %}
{% block title %}Search - Search Business{% endblock %}
{% block content %}
<div class="container">
    <br><br><br><br><br>
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            {% for listing in listings %}
            <h4>
                <img class="navbar-brand" src="{{ listing.logo.url }}" style="width: 20%" alt=""><a href="{{ listing.get_absolute_url }}">{{ listing.name }}</a>
            </h4>
            <p> <strong>Category:</strong> {{ listing.category }}</p>
            <p>
                <strong>About Us:</strong> {{ listing.about|truncatewords:30|linebreaks }}
            </p>
            <hr>
            <p>
                <i class="fa fa-phone"></i>{{ listing.telephone }}  |   <i class="fa fa-phone"></i>{{ listing.phone }}  |   <i class="fa fa-envelope"></i>{{ listing.email }}
            </p>
            <hr>
            {% empty %}
            <p>Ooops.., business not found.</p>
            {% endfor %}
        </div>
        <div class="col-md-2">

        </div>
    </div>
    <br><br>
</div>
{% endblock %}
